<h1><%= @event.name %></h1>

<h2>Start Time:</h2>
<h3><%= @event.start_time %></h3>

<h2>End Time:</h2>
<h3><%= @event.end_time %></h3>

<h2> Application Deadline:</h2>
<h3><%= @event.deadline %></h3>
<!-- 
<%# link_to 'Edit', edit_event_path(event) %>  -->